data_from_kaggle.zip
data/
checkpoints/
checkpoints_3차/
checkpoints_1차모델/
checkpoints_2차/
outputs/
outputs_3차/
outputs_1차모델/
outputs_2차/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.env
.DS_Store
*.log
